/* width */
::-webkit-scrollbar {
  width: 5px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3b2f3;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6E6BFE;
  border: none;
}